.home-page {
    text-align: left;
    background-color: thistle;   
}

.lead {
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
}

.container {
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    grid-auto-rows: minmax(50px, auto);
    
}

.container :hover {
    background-color: turquoise;
}
