.home-page {
    background-color: rgb(100, 99, 99);   
    margin: auto;
    width: 100%;
}

.lead {
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
}

.container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    grid-auto-rows: minmax(50px, auto);
}

.container :hover {
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
