
.containcard {
    display: block;
    column-count: 2;
    position: absolute;
    left: 10%;
    right:10%;
    text-align: left;
}

.card:nth-of-type(2){
    break-after:column;
    display:block;
}
@media (max-width:1200px){
    .containcard, .card:nth-of-type(2){
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-self: stretch; 
        position: relative;

    }
}
