.profile-page {
    background: url('https://source.unsplash.com/twukN12EN7c/1920x1080') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding-bottom: 50px;
}

@media screen and (max-width: 1000px) {
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .profile-page {
        background: url('https://source.unsplash.com/twukN12EN7c/1920x1080') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;     
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: auto;
        
    }
    .containcard, .card{
        display: flex;
        flex-direction: column;
        vertical-align: -webkit-baseline-middle;
    }       
    
  }


.containcard {
    display: block;
    column-count: 2;
    float: right;
    position: absolute;
    left: 25%;
    text-align: left;
}

.card:nth-of-type(2){
    break-after:column;
    display:block;
}