.search-area {
  text-align: center;
}
#input-field {
  margin: 10px;
  width: 40%;
}
#search-button {
  background-color: blue;
  border-radius: 5px;
  color: whitesmoke;
  height: auto;
  width: auto;
}
#search-button:hover {
  background-color: lightblue;
}
