.page {
    background: url('https://source.unsplash.com/twukN12EN7c/1920x1080') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
  
  }
.center {
    width: 33%;
    border: 3px solid black;
    text-align: center;
    padding: 3rem;
    margin: auto;
    margin-top: 3rem;
    box-sizing: border-box;
    box-shadow: black;
  }
  
  .input-field {
    margin: 6px;
    width: auto;
  }
  
  .login-button {
    font-family: sans-serif;
    font-weight: 700;
    font-size: large;
    border: 5px;
    border-color: black;
    width: 6rem;
    height: 3rem;
  }
  
  .login-button:hover {
    background-color: beige;
  }
  